<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>有医说疑</title>
    <div th:replace="commonPage::comLink"></div>
</head>
<body>
<div th:replace="commonPage::#loader"></div>

<div th:replace="commonPage::comHeaderMune"></div>

<!-- ================================
    START BREADCRUMB AREA
================================= -->

<!--<section class="breadcrumb-area">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12">-->
<!--                <div class="breadcrumb-content text-center">-->
<!--                    <div class="section-heading">-->
<!--                        <h2 class="section__title">有医说疑</h2>-->
<!--                    </div>-->
<!--                </div>&lt;!&ndash; end breadcrumb-content &ndash;&gt;-->
<!--            </div>&lt;!&ndash; end col-lg-12 &ndash;&gt;-->
<!--        </div>&lt;!&ndash; end row &ndash;&gt;-->
<!--    </div>&lt;!&ndash; end container &ndash;&gt;-->
<!--</section>&lt;!&ndash; end breadcrumb-area &ndash;&gt;-->


<!-- ================================
    END BREADCRUMB AREA
================================= -->


<div th:replace="commonPage::comFooter">
</div>
<div th:replace="commonPage::comScript">
</div>
</body>
</html>